.mainPosts {
        width: 80%;
        min-height: 50%;
        max-height: 30%;
        display: flex;
        justify-self: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
                text-decoration-line: none;

        /* border: 2px solid black; */
}