.mainPost {
    width: 30%;
    min-width: 350px;
    height: 70vh;
    min-height: 430px;
    /* border: 1px solid black; */
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 20px 40px #00000026;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 0%;
    /* background: linear-gradient(135deg,
            #afe6dd 0%,
            #5a6665 90%); */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
}

.author {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-size: 1.1rem;
}

.imgPost {
    display: flex;
    margin-left: 5%;
    justify-self: center;
    width: 90%;
    height: 40%;
    min-height: 200px;
    margin-bottom: 1%;
}

button {
    /* border-radius: 10%; */
    display: flex;
    margin-left: 5%;
    width: 20%;
    height: 5%;
    background-color: #869e9c;


}

.Link {
    /* height: 100vh; */
    text-decoration: none;
    /* border: 1px solid black; */


}


.TitlePost {
    display: flex;
    width: 90%;
    /* height: -100px; */
    justify-self: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    white-space: normal;
    margin-left: 5%;
    text-decoration: none;

}


.time {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}